.container{
    display: flex;
    align-items: center;
    
    width:55%;
    justify-content:space-evenly;
    padding:13px;
    background-color: lightgrey;
    border: 2px solid black;
    margin:5px;
}
.secondary-contain{
    display: flex;
    justify-content: space-around;
}